@font-face {
    font-family: "InterMedium";
    src: url("../Fonts/Inter_Medium.ttf");
}

@font-face {
    font-family: "InterBold";
    src: url("../Fonts/Inter_Bold.ttf");
}



* {
    font-family: InterMedium;
}